<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="id.surya.product_search">

    <dist:module
        dist:instant="false"
        dist:onDemand="false"
        dist:title="@string/title_product_search">
        <dist:fusing dist:include="true" />
    </dist:module>

    <application>
        <activity android:name="id.surya.product_search.ProductSearchActivity"></activity>
    </application>

</manifest>